<footer class="footer">
  <div class="footer__inner">
    <div class="copyright copyright--user">
      <span>© Abdulkadir Furkan Şanlı {{ now.Year }} :: <a href="https://creativecommons.org/licenses/by-nd/4.0/">CC
          BY-ND</a>
        :: theme by <a href="https://twitter.com/panr">panr</a></span>
    </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
